dynaconf
dataclasses_jsonschema
sqlalchemy
flask_swagger_ui
Flask
#for allow origin *, to remove for prod
flask-cors
flask_restful
psycopg2
psycopg2-binary
Flask-SQLAlchemy
decorators
gunicorn
grpcio
ansible
ansible-base
openai

